@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040924;

    height: 100vh;
}

.main{
    width: 428px;
    margin: auto;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.input{
    outline: none;
}

.main-content{
    padding: 48px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-cotent-input{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-content-input-block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-content-input-block-input{
    width: 100%;
}

.main-content-input-block input{
    background: #DCE2E9;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    padding: 16px 0;
    width: 100%;
    padding: 16px;
}

.main-content-input-block-input input::-webkit-input-placeholder{
    color: #616972;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.main-content-input-block-input input:focus{
   outline-color: #02799D;
   color: #212529;
}

.main-content h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #0C3440;
}

.main-content-input p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #00453A;
}

.button{
    width: 100%;
}

.button button{
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: #02799D;
    border-radius: 4px;
    padding: 16px;
}

.button button:hover{
    background-color: rgb(1, 102, 133);
}

/****Estilizando o modal, a caixinha que aparece com o resultado****/

.modal-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;

    display: none;
    align-items: center;
    justify-content: center;
}

/**MOSTRAR O MODAL**/
.modal-container.mostrar{
    display: flex;
}

.modal-content{
    width: 360px;
    min-height: 150px;
    background-color: white;
    border-radius: 6px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content span{
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
    color: #0C3440;
}

.close{
    position: absolute;
    top: 16px;
    right: 16px;

    outline-style: none;
    border: none;
    background: none;
    cursor: pointer;
}



/****RESPONSIVO*****/

@media only screen and (max-width: 426px) {
    .main-content{
        padding: 40px 20px;
    }
}